/* Стили шапки */
.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-color;
}

.page-header__container, .blocks-wrap {
    display: flex;
    align-items: center;
}